<h3>Stupid Coaching</h3>

<div id="answer_user" class="container">
<h4><%= @answer_user %></h4>
<h4>-You</h4>
</div>

<div id="answer_coach" class="container">
  <h4><%= @answer_coach %></h4>
  <h4>-Your coach</h4>
</div>

<%= link_to "Ask a new question", ask_path %>

