

<form action="/answer">
  <div class="card text-center">
    <div class="card-header">
      <h5>Stupid Coaching</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Ask your coach anything:</p>
        <input  id="message" class="form-control" name="answer_user" type="text" placeholder="Your answer!" value="">
        <input class="btn btn-primary mb-2" type="submit" value="Ask!" >
    </div>
  </div>
</form>



